@import url(https://fonts.googleapis.com/css?family=Cinzel|Fauna+One);

#body {
  font-family: 'Fauna One', serif;
  font-size: 8px;  
}

h1 {
  font-family: 'Fauna One', serif;
  font-size: 10px;  
}